
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>

        body {

             background-image: linear-gradient(#8f71ff, #8bffff);
        }

</style>
</head>
<center>
<h1>Menu</h1>
<div class="D">
<a class="btn btn-primary" asp-area="" asp-controller="Loans" asp-action="Index">Loan Approval</a>
<a></a>
<a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="ViewUser" >View Users</a>
</div>
</center>